.outer_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.card_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.card {
  flex: 0 1 300px;
  transition: transform 0.3s;
  margin-bottom: 20px;
  width: 100%;
  padding: 1rem;
  height: 452px;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  height: 384px !important;
}
.css-h93ljk-MuiTypography-root {
  font-size: 1.2rem !important;
}
.css-46bh2p-MuiCardContent-root {
  padding: 16px 16px 0px 16px !important;
}
.card:hover {
  transform: scale(1.05);
}

.cardImages {
  width: 100%;
  height: 186px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.cardDescription {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card_price {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  margin: 15px 0px !important;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.rating {
  color: #ff9800;
  font-size: 1.1rem;
}
.card_rating {
  float: right;
}
.card_count {
  margin-left: -14px;
  padding-left: 24px;
  font-size: 13px;
}

.card_discription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.css-o69gx8-MuiCardMedia-root {
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 100%;
  object-fit: contain !important;
}
.css-46bh2p-MuiCardContent-root {
  padding: 16px 16px 0 16px;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  min-width: 102px !important;
}
.css-1t6e9jv-MuiCardActions-root {
  margin-top: -12px;
}
.css-rhsghg {
  object-fit: contain !important;
}
.css-w88nxk {
  max-width: 263px !important;
}
