.cart {
  margin-top: 1rem; /* You can adjust the value as needed */
 ;
}
.main{
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 10px; */
  color:rgb(241 228 228);
  background-color: #3F3067;   
  align-items: center;
  text-align: center;
  font-size: 17px;
  height: 133px;
  
}


.cart2{
  width: 68px !important;
  height: 60px !important;
  color: rgb(241 228 228);
  }

.logo{
  width: 177px;
  height: 161px;
}
.logi{
  margin-right: 40px;
}
.main h1{
  text-align: center;
}
/* navbar.css */

.lognavbar{
  text-decoration: none !important;
  color: rgb(241 228 228);
  font-size: 37px;
}

.auth{
  font-size: 15px;
  width: 78px;
  height: 29px;
  border-radius: 6px;
  border: none;
}


